<div id="main" *ngIf="validarEnvio[0]">
    <h1>FORMULARIO PARA OBTENER TAGS</h1>

    <form [formGroup]="formularioPrincipal" (ngSubmit)="enviarFormulario()">

        <label>URL</label><br>
        <input type="text" formControlName="nombreWeb" required><br>

        <label>SELECTOR:</label><br>
        <input type="text" formControlName="nombreEtiqueta" required><br>

        <label>PALABRA:</label><br>
        <input type="text" formControlName="palabra"><br>

        <button type="submit" [disabled]="!formularioPrincipal.valid">Enviar</button>

    </form>

    <h1>{{mensaje}}</h1>
</div>

<app-listado-resultados></app-listado-resultados>