<div id="main" *ngIf="!validarEnvio[0]">

    <button (click)="atras()">Atras</button>

    <h1>Lista de resultados</h1>

    <select id="seleccion" multiple>
      <option *ngFor="let dato of data" [value]="dato.elemento" (click)="seleccionItems()">{{dato.elemento}}</option>
    </select>

    <div style="margin: 20px">

        <h2 class="anuncio">Elementos seleccionados: </h2>

        <ul>
            <li *ngFor="let dato of dataEnviar">{{dato}}</li>
        </ul>

        <button id="btnEnviar" (click)="enviarElementos()">Guardar</button>
        <h2 class="anuncio">{{mensaje}}</h2>

    </div>

</div>